<script setup lang="ts">
import { ref } from "vue";
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent></FirstComponent>
        <v-btn @click="counterStore.increment" class="ma-4"> INCREMENT </v-btn>
      </v-col>
      <v-col>
        <SecondComponent></SecondComponent>
        <v-btn @click="counterStore.decreasement" class="ma-4">
          DECREASE
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
