<script setup lang="ts">
import { ref } from "vue";

// class product {
//   id: number;
//   name: string;
//   price: string;
// }

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const sum = ref(0);
const productList = ref<{ id: number; name: string; price: number }[]>([]);
const add = (product: { id: number; name: string; price: number }) => {
  productList.value.push(product);
  sum.value += product.price;
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-container fluid style="height: 87vh; overflow: auto">
          <v-row>
            <v-col v-for="item in products" :key="item.id" cols="4">
              <v-card class="mx-auto" max-width="150">
                <v-card-item>
                  <div>
                    <div class="text-h5 mb-1" style="text-align: center">
                      {{ item.name }}
                    </div>
                    <div class="text-align mb-1" style="text-align: center">
                      {{ item.price }}
                    </div>
                  </div>
                </v-card-item>

                <div
                  style="text-align: center; position: relative; bottom: 1vh"
                >
                  <v-btn @click="add(item)"> Add </v-btn>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col>
        <div class="mx-3 mt-5">
          <v-table max-width="auto" height="400">
            <thead>
              <tr>
                <th id="headTable" class="text-left">id</th>
                <th id="headTable" class="text-left">name</th>
                <th id="headTable" class="text-left">price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in productList" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
              <tr>
                <td
                  class="text-center text-h6"
                  style="text-align: center"
                  colspan="5"
                  v-if="productList.length === 0"
                >
                  NO Data
                </td>
              </tr>
            </tbody>
          </v-table>
        </div>
        <div class="mx-3 mt-10">
          <tr>
            <td style="font-size: 40pt">Sum: {{ sum }}</td>
          </tr>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
#headTable {
  font-size: 13pt;
  color: rgb(126, 125, 125);
}
</style>
