<script setup lang="ts">
import { ref } from "vue";
const emoji = ref("Smile");
const img = ref("feeling_imgs/smile.png");

const change = (emoji1: string, img1: string) => {
  emoji.value = emoji1;
  img.value = img1;
};
</script>
<template>
  <v-container>
    <v-row
      ><v-col>
        <div class="mx-3 mt-10">
          <v-img class="bg-white" width="400" :src="img"></v-img>
        </div>
      </v-col>
      <v-col>
        <div class="mx-3 mt-10">
          <v-col class="text-center text-h2">
            {{ emoji }}
          </v-col>
        </div>
        <div class="mx-3 mt-2">
          <v-btn
            @click="change('Angry', 'feeling_imgs/angry.png')"
            :color="emoji === 'Angry' ? 'yellow' : 'none'"
            depressed
            block
            >ANGRY</v-btn
          >
        </div>
        <div class="mx-3 mt-5">
          <v-btn
            @click="change('Cute', 'feeling_imgs/Cute.png')"
            :color="emoji === 'Cute' ? 'yellow' : 'none'"
            depressed
            block
            >CUTE</v-btn
          >
        </div>
        <div class="mx-3 mt-5">
          <v-btn
            @click="change('Excited', 'feeling_imgs/Excited.png')"
            :color="emoji === 'Excited' ? 'yellow' : 'none'"
            depressed
            block
            >EXCITED</v-btn
          >
        </div>
        <div class="mx-3 mt-5">
          <v-btn
            @click="change('Pain', 'feeling_imgs/Pain.png')"
            :color="emoji === 'Pain' ? 'yellow' : 'none'"
            depressed
            block
            >PAIN</v-btn
          >
        </div>
        <div class="mx-3 mt-5">
          <v-btn
            @click="change('Shocked', 'feeling_imgs/Shocked.png')"
            :color="emoji === 'Shocked' ? 'yellow' : 'none'"
            depressed
            block
            >SHOCKED</v-btn
          >
        </div>
        <div class="mx-3 mt-5">
          <v-btn
            @click="change('Smile', 'feeling_imgs/Smile.png')"
            :color="emoji === 'Smile' ? 'yellow' : 'none'"
            depressed
            block
            >SMILE</v-btn
          >
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
