<script setup lang="ts">
import { ref } from "vue";
const textnum = ref("");
const num = ref(0);
const Change = () => {
  num.value = textnum.value == "" ? 0 : parseInt(textnum.value);
};
</script>

<template>
  <div class="mx-3 mt-2">
    <v-container fluid>
      <v-row>
        <v-col cols="12">
          <v-text-field
            label="Please input Number"
            v-model="textnum"
            required
            :rules="[(v) => !!v || 'Number is not empty!!']"
            @update:model-value="Change()"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row fluid style="height: 58vh; overflow-y: auto">
        <v-col :cols="1" v-for="number in num" :key="number">
          <div style="font-weight: bold" align="center">
            {{ number }}
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
