<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <div style="font-weight: bold">First Component</div>
  <div>{{ counterStore.count }}</div>
</template>
